*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100vw;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    height: 300px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    background-color: coral;
    font-weight: bolder;
    font-size: 1.1rem;
    border: none;
    border-radius: 10px;
}
.box h1{
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 20px;
}
.box h2{
    font-size: 3.2rem;
    font-weight: bolder;
    margin:30px 20px;
    color: white;
   
}
.first{
    padding: 5px 20px;
    border: none;
    background-color: green;
    color: white;
    font-size: 1.2rem;
    font-weight: bolder;
    border-radius: 5px;
}
.second{
    padding: 5px 20px ;
    background-color: red;
    border: none;
    margin-left: 15px;
    color: white;
    font-size: 1.2rem;
    font-weight: bolder;
    border-radius: 5px;
}
.third {
    padding: 5px 25px ;
    font-size: 1.2rem;
    font-weight: bolder;
    color: white;
    background-color: #555555;
    border: none;
    border-radius: 10px;
    margin-left: 25px;
}